<div class="container">
    <div class="row">
        <div class="col col-2">Task name:</div>
        <div class="col col-10">"{{task.name}}"</div>
    </div>
    <div class="row">
        <div class="col col-2">Task description:</div>
        <div class="col col-10">{{task.description}}</div>
    </div>
    <div class="row">
        <div class="col col-2">Task state:</div>
        <div class="col col-10">{{task.state | taskState}} <span class="dot" [taskState]="task.state"></span></div>
    </div>
    <div class="row">
        <div class="col col-2">Project name:</div>
        <div class="col col-10">"{{project.name}}"</div>
    </div>
    <div class="row">
        <div class="col col-2">Performer name: </div>
        <div class="col col-10">{{performer.name}}</div>
    </div>
    <div class="row">
        <div class="col col-2">Created at </div>
        <div class="col col-10">{{task.createdAt | ukrDate}}</div>
    </div>
    <div *ngIf="task.state > 1" class="row">
        <div class="col col-2">Finished at </div>
        <div class="col col-10">{{task.finishedAt | ukrDate}}</div>
    </div>
</div>