<div class="container">
    <div class="row">
        <div class="col col-2">Project name:</div>
        <div class="col col-10">"{{project.name}}"</div>
    </div>
    <div class="row">
        <div class="col col-2">Project description:</div>
        <div class="col col-10">{{project.description}}</div>
    </div>
    <div class="row">
        <div class="col col-2">Team name:</div>
        <div class="col col-10">"{{team.name}}"</div>
    </div>
    <div class="row">
        <div class="col col-2">Author name: </div>
        <div class="col col-10">{{author.name}}</div>
    </div>
    <div class="row">
        <div class="col col-2">Deadline:</div>
        <div class="col col-10">{{project.deadline | ukrDate}}</div>
    </div>
</div>