<form (ngSubmit)="updateUser()" [formGroup]="userForm">
    <h1>Update a user</h1>
    <div class="group">
        <label>First name</label>
        <input type="text" formControlName="firstName" autocomplete="off">
        <div class="error" *ngIf="isInvalidControl('firstName')">
            Input valid firts name
        </div>
    </div>
    <div class="group">
        <label>Last name</label>
        <input type="text" formControlName="lastName" autocomplete="off">
        <div class="error" *ngIf="isInvalidControl('lastName')">
            Input valid last name
        </div>
    </div>
    <div class="group">
        <label>Email</label>
        <input type="text" formControlName="email" autocomplete="off">
        <div class="error" *ngIf="isInvalidControl('email')">
            Input valid email
        </div>
    </div>
    <div class="group">
        <label>Birth day</label>
        <input type="date" formControlName="birthDay" autocomplete="off">
        <div class="error" *ngIf="isInvalidControl('birthDay')">
            Input valid birth day (our users must be born)
        </div>
    </div>

    <div class="group">
        <label>Select a team (user can be without team)</label>
        <select formControlName="teamId" autocomplete="off">
            <option *ngFor="let team of teams" value="{{team?.id}}" [selected]="user?.teamId === team?.id">
                {{team?.name}}
            </option>
        </select>
        <div class="error" *ngIf="isInvalidControl('teamId')">
            Select some team
        </div>
    </div>

    <div class="btn-box">
        <button class="btn danger rounded" type="button" (click)="backToList()">Back to list</button>
        <button class="btn warning rounded" type="reset">Clear</button>
        <button class="btn success rounded" type="submit" [disabled]="userForm.invalid">Update</button>
    </div>
</form>