<div class="container">
    <div class="row">
        <div class="col col-2">Team name:</div>
        <div class="col col-10">"{{team.name}}"</div>
    </div>
    <div class="row">
        <div class="col col-2">Team created at </div>
        <div class="col col-10">{{team.createdAt | ukrDate}} </div>
    </div>
</div>