<div id="header">
    <div class="title-box">
        <div class="title">Task Master</div>
        <div class="slogan">Guarding your tasks</div>
    </div>
    <img src="../../../../assets/taskmaster-logo.png" class="logo" alt="logo" />

    <div class="nav-menu">
        <div class="nav-menu-item">
            <a [routerLink]="['/users']">Users</a>
        </div>
        <div class="nav-menu-item">
            <a [routerLink]="['/teams']">Teams</a>
        </div>
        <div class="nav-menu-item">
            <a [routerLink]="['/tasks']">Tasks</a>
        </div>
        <div class="nav-menu-item">
            <a [routerLink]="['/projects']">Projects</a>
        </div>
    </div>
</div>