#header {
    position: fixed;
    background-color: white;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 5em;
    width: 100%;
    padding-top: 1em;
    margin-bottom: 1em;
    animation-duration: 2s;
    animation-name: appearing;
    z-index: 1;
}

@keyframes appearing {
    from {
        margin-top: -10%;
    }
    to {
        margin-top: 0;
    }
}

.title-box {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: xx-large;
}

.slogan {
    font-size: medium;
    font-style: italic;
    margin-left: 1em;
}

.logo {
    height: 40px;
    width: 40px;
    margin-left: 1em;
    margin-right: auto;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu-item {
    padding-left: 2em;
    padding-right: 2em;
    font-size: x-large;
}

.nav-menu-item a {
    text-decoration: none;
}