<form (ngSubmit)="createProject()" [formGroup]="projectForm">
    <h1>Create a project</h1>
    <div class="group">
        <label>Name</label>
        <input type="text" formControlName="name" autocomplete="off">
        <div class="error" *ngIf="isInvalidControl('name')">
            Input valid name
        </div>
    </div>
    <div class="group">
        <label>Description</label>
        <textarea formControlName="description" autocomplete="off" rows="2"></textarea>
        <div class="error" *ngIf="isInvalidControl('description')">
            Input valid description
        </div>
    </div>
    <div class="group">
        <label>Deadline</label>
        <input type="date" formControlName="deadline" autocomplete="off">
        <div class="error" *ngIf="isInvalidControl('deadline')">
            Input valid deadline
        </div>
    </div>

    <div class="group">
        <label>Select a author </label>
        <select formControlName="authorId" autocomplete="off">
            <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
        </select>
    </div>

    <div class="group">
        <label>Select a team</label>
        <select formControlName="teamId" autocomplete="off">
            <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</option>
        </select>
    </div>

    <div class="btn-box">
        <button class="btn danger rounded" type="button" (click)="backToList()">Back to list</button>
        <button class="btn warning rounded" type="reset">Clear</button>
        <button class="btn success rounded" type="submit" [disabled]="projectForm.invalid">Create</button>
    </div>
</form>