<form (ngSubmit)="createTask()" [formGroup]="taskForm">
    <h1>Create a task</h1>
    <div class="group">
        <label>Name</label>
        <input type="text" formControlName="name" autocomplete="off">
        <div class="error" *ngIf="isInvalidControl('name')">
            Input valid name
        </div>
    </div>
    <div class="group">
        <label>Description</label>
        <textarea formControlName="description" autocomplete="off"></textarea>
        <div class="error" *ngIf="isInvalidControl('description')">
            Input valid description
        </div>
    </div>

    <div class="group">
        <label>Select a project</label>
        <select formControlName="projectId" autocomplete="off">
            <option *ngFor="let project of projects" value="{{project.id}}">{{project.name}}</option>
        </select>
    </div>

    <div class="group" *ngIf="isProjectSelected">
        <label>Select a performer </label>
        <select formControlName="performerId" autocomplete="off">
            <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
        </select>
    </div>

    <div class="btn-box">
        <button class="btn danger rounded" type="button" (click)="backToList()">Back to list</button>
        <button class="btn warning rounded" type="reset">Clear</button>
        <button class="btn success rounded" type="submit" [disabled]="isInvalidForm()">Create</button>
    </div>
</form>