<div class="container center-items">
    <div class="add-item">
        <button class="success rounded" (click)=addEntity()>Create new {{entityName}}</button>
    </div>

    <div *ngIf="items.length > 0">
        <h1>
            Available {{entityName}}s:
        </h1>

        <mat-list class="list">
            <mat-list-item *ngFor="let item of items">
                <div class="list-item">
                    <div class="list-item-name" (click)=detailsEntity(item.id)>{{item.name}}</div>
                    <button class="action-icon" (click)=editEntity(item.id)>&#9998;</button>
                    <button class="action-icon" (click)=deleteEntity(item.id)>&#10060;</button>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <div *ngIf="items.length == 0">
        <div>Oooops, there is no one {{entityName}}</div>
    </div>
</div>