.list {
    height: 100%;
    justify-content: center;
}

.list-item {
    display: flex;
    flex-direction: row;
    border: 3px solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.list-item-name {
    cursor: pointer;
    margin-right: auto;
}

.action-icon {
    border: none;
    background-color: white;
    margin-left: 1em;
    cursor: pointer;
}