<form (ngSubmit)="updateTeam()" [formGroup]="teamForm">
    <h1>Update a team</h1>
    <div class="group">
        <label>Name</label>
        <input type="text" formControlName="name" autocomplete="off">
        <div class="error" *ngIf="isInvalidControl('name')">
            Input valid team name
        </div>
    </div>

    <div class="btn-box">
        <button class="btn danger rounded" type="button" (click)="backToList()">Back to list</button>
        <button class="btn warning rounded" type="reset">Clear</button>
        <button class="btn success rounded" type="submit" [disabled]="teamForm.invalid">Update</button>
    </div>
</form>