* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

.container h1 {
    text-align: center;
}

.center-items {
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.col {
    overflow: hidden;
}

.col-2 {
    width: calc(100% * 2 / 12);
}

.col-10 {
    width: calc(100% * 10 / 12);
}

.success {
    background-color: greenyellow;
    justify-content: center;
}

.warning {
    background-color: orange;
    justify-content: center;
}

.danger {
    background-color: red;
    justify-content: center;
}

.rounded {
    border-radius: 50px;
    border: none;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
}

.add-item button {
    background-color: #2b3c8e;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    padding: 2em;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}


/* SNACK BAR*/

.warning-snack-bar {
    background: orange;
}

.error-snack-bar {
    background: #a90707;
}

.warning-snack-bar,
.error-snack-bar,
.snack-bar {
    text-align: center;
    max-width: unset !important;
    margin: auto !important;
    width: 40%;
    z-index: 2;
    position: fixed;
    bottom: 4em;
    left: 30%;
}

select.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid,
input.ng-touched.ng-invalid {
    border-color: red;
    border-width: medium;
}


/* FORMS */

form {
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

.group {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.group label {
    width: calc(100% * 2 / 12);
}

.group input {
    width: calc(100% * 3 / 12);
}

.group select {
    width: calc(100% * 3 / 12);
}

.group input[type="date"] {
    width: calc(100% / 10);
}

.group input[type="text"] {
    width: calc(100% * 3 / 12);
}

.group textarea {
    width: calc(100% * 6 / 12);
    min-width: calc(100% * 2 / 12);
}

.group .error {
    margin-left: 5px;
}