<div class="container">
    <div class="row">
        <div class="col col-2">User full name:</div>
        <div class="col col-10">{{user.name}}</div>
    </div>
    <div class="row">
        <div class="col col-2">User email:</div>
        <div class="col col-10">{{user.email}}</div>
    </div>
    <div class="row">
        <div class="col col-2">User birthday:</div>
        <div class="col col-10">{{user.birthDay | ukrDate}}</div>
    </div>
    <div class="row">
        <div class="col col-2">User registered at </div>
        <div class="col col-10">{{user.registeredAt | ukrDate}} </div>
    </div>
    <div *ngIf="user.teamId" class="row">
        <div class="col col-2">User in team: </div>
        <div class="col col-10">"{{team.name}}"</div>
    </div>
    <div *ngIf="!user.teamId">
        <div></div>
        <div>{{user.name}} doesn't belong to any team</div>
    </div>
</div>